.UserMainMenu {
    width: 100vw;
}

.UserMainMenu .MenuLink {
    width: 300px;
    background-color: rgb(164, 216, 20);
    justify-content: center;
    text-align: center;
    padding: 100px;
    margin: 10px;
    text-decoration: none;
    color: #000000;
}